[submodule "external/libzmq/cppzmq"]
	path = plotlablib/external/libzmq/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "external/libzmq/libzmq"]
	path = plotlablib/external/libzmq/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "external/libzmq/libsodium"]
	path = plotlablib/external/libzmq/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "external/cppzmq/cppzmq"]
	path = plotlablib/external/cppzmq/cppzmq
	url = https://github.com/zeromq/cppzmq.git
